@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 내가 추가한 것들. */
a {
  text-decoration: none;
  color: inherit;
}

input {
  font-family: "NeoDunggeunmoPro-Regular";
}

@font-face {
  font-family: "LOTTERIADDAG";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/LOTTERIADDAG.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
}

@keyframes a-hover {
  to {
    background-color: grey;
    color: white;
  }
}
body {
  width: 100vw;
  height: 100vh;
  font-family: "LOTTERIADDAG";
  color: grey;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 6fr 1fr;
}
body .grid-header {
  grid-column: 1/-1;
  grid-row: 1/2;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  border-bottom: solid 1px grey;
}
body .grid-header div:nth-child(1) {
  grid-column: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .grid-header div:nth-child(2) {
  grid-column: 2/3;
}
body .grid-header a {
  grid-column: 3/4;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .grid-header a:hover {
  animation: a-hover 0.5s ease-in-out forwards;
}
body .grid-left {
  grid-column: 1/2;
  grid-row: 2/-2;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
}
body .grid-left a {
  display: flex;
  justify-content: center;
  align-items: center;
}
body .grid-left a:hover {
  animation: a-hover 0.5s ease-in-out forwards;
}
body .grid-left a:nth-child(1) {
  grid-row: 1/2;
  border-bottom: solid 1px grey;
}
body .grid-left a:nth-child(2) {
  grid-row: 2/3;
  border-bottom: solid 1px grey;
}
body .grid-left a:nth-child(3) {
  grid-row: 3/4;
  border-bottom: solid 1px grey;
}
body .grid-left a:nth-child(4) {
  grid-row: 4/5;
  border-bottom: solid 1px grey;
}
body .grid-left a:nth-child(5) {
  grid-row: 5/6;
}
body .grid-middle {
  grid-column: 2/3;
  grid-row: 1/-1;
  border-right: solid 1px grey;
  border-left: solid 1px grey;
  display: grid;
  grid-template-rows: 1fr 6fr 1fr;
}
body .grid-middle div {
  grid-row: 2/3;
  background-color: grey;
  color: white;
  font-size: 150px;
  display: flex;
  align-items: center;
}
body .grid-right {
  grid-column: 3/4;
  grid-row: 2/-2;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
}
body .grid-right a {
  display: flex;
  justify-content: center;
  align-items: center;
}
body .grid-right a:hover {
  animation: a-hover 0.5s ease-in-out forwards;
}
body .grid-right a:nth-child(1) {
  grid-row: 1/2;
  border-bottom: solid 1px grey;
}
body .grid-right a:nth-child(2) {
  grid-row: 2/3;
  border-bottom: solid 1px grey;
}
body .grid-right a:nth-child(3) {
  grid-row: 3/4;
  border-bottom: solid 1px grey;
}
body .grid-right a:nth-child(4) {
  grid-row: 4/5;
  border-bottom: solid 1px grey;
}
body .grid-right a:nth-child(5) {
  grid-row: 5/6;
}
body .grid-footer {
  grid-column: 1/-1;
  grid-row: -1/-2;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  border-top: solid 1px grey;
}
body .grid-footer div:nth-child(1) {
  grid-column: 1/2;
}
body .grid-footer div:nth-child(2) {
  grid-column: 2/3;
}
body .grid-footer div:nth-child(3) {
  grid-column: 3/4;
}

/*# sourceMappingURL=style.css.map */
